[Unit]
Description=SafeVision AI C# Backend API Service
After=network.target

[Service]
WorkingDirectory=/var/www/safevision/backend/publish
ExecStart=/usr/bin/dotnet /var/www/safevision/backend/publish/ImageClassifierBackend.dll
Restart=always
# สั่งให้รีสตาร์ทบริการอัตโนมัติหากเกิดข้อผิดพลาดขึ้น (หลังจากผ่านไป 10 วินาที)
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=safevision-backend
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
